
{% extends '::base.html.twig' %}

{% block topbar %}
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	 	<div  class="hide-banner span1" style="float: right;"><i class="icon-circle-arrow-up icon-white"></i></div>
	{% endif %}
{% endblock %}


{% block menu %}
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		 <span><i class="icon-home icon-white"> </i> <a href="{{ path('forthicime_admin_homepage') }}">Accueil</a></span>
		 <span><i class="icon-refresh icon-white"> </i> <a href="{{ path('forthicime_synchronization') }}">Synchronisation</a></span>		 
		 <!-- <span id="changePwd"><a href="#">Changer le mot de passe</a></span> -->
         <span><i class="icon-minus-sign icon-white"> </i> <a href="{{ path('logout') }}">Se déconnecter</a></span>


     
     {% endif %}
{% endblock %}



{% block body %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="{{ asset('bundles/forthicimeadmin/js/CharBar.js') }}"></script>
	<script src="{{ asset('bundles/forthicimeadmin/js/MonthChar.js') }}"></script>
	<script src="{{ asset('bundles/forthicimeadmin/js/Password.js') }}"></script>

	<div class="span4">

		<ul class="panel nav nav-list" style="font-size: 8pt;">
			<li class="nav-header"><i class="icon-list icon-white"> </i> Statistiques</li>
			<li>
				<div><i class="icon-hand-right"></i> Medecins:</div> 
				<div>{{ statistic.nbMedecin }}</div>
				<br style="clear: both">
			</li>

			<li>
				<div><i class="icon-user"></i> Patients:</div> 
				<div>{{ statistic.nbClient }}</div>
				<br style="clear: both">
			</li> 
			<li>
				<div><i class="icon-folder-open"></i> Analyses:</div> 
				<div>{{ statistic.nbDossier }}</div>
				<br style="clear: both">
			</li>
		</ul>

		</br>


		<!-- DERNIER DOSSIER LU -->
		{% include 'ForthicimeAdminBundle:Default:_read_dossier.html.twig' %}
		<br />


		<!-- DERNIERE CONNECTION -->
		<ul class="panel nav nav-list" style="font-size: 8pt;">
		 	<li class="nav-header"><i class="icon-resize-small icon-white"> </i> Dernieres connections</li>
		 	<li>
		 		<div style="font-weight: bold">Nom</div>
		 		<div style="font-weight: bold">Connecté le</div>
		 	</li>
		{% for medecin in last_connections %}
			<li> 
				<div>{{ medecin.nom|lower|capitalize }}</div>
				<div>{{ medecin.login|date('d/m/Y H:i') }}</div>
				<br style="clear: both"/>
			</li>						 
		{% endfor %}
		</ul>	

		<br />

		<!-- MEDECIN JAMAIS CONNECTE -->
		<!--
		<ul class="panel nav nav-list" style="font-size: 8pt;">
		 	<li class="nav-header"><i class="icon-resize-full icon-white"> </i> Medecin qui ne se sont jamais connecté</li>
		{% for medecin in never_connected %}
			<li> 
				{{ medecin.nom|lower|capitalize }}
			</li>						 
		{% endfor %}
			{% if total_never_connected > max_never_connected %}
			<li>
				{{ total_never_connected - max_never_connected}} supplémentaire(s) ...
			</li>
			{% endif %}
		</ul>
		-->
	</div>

	<div class="span6">			


		<form >
  			{{ form_widget(form) }}
		</form>

		<script type="text/javascript">
				var year = $("select#form_Annee option:selected").text();
				var month = $("select#form_Mois option:selected").text();

  				var chart = new ChartBart("{{ path('forthicime_connection_count') }}");
				chart.drawChart(year);

				var monthChart = new MonthChart("{{ path('forthicime_connection_count_month') }}");
				monthChart.drawChart(year, month);

  				$('#form_Annee').change(function(){
  					year = $("select#form_Annee option:selected").text();
					month = $("select#form_Mois option:selected").text();

					chart.drawChart(year);
					monthChart.drawChart(year, month);  
  				});

  				$('#form_Mois').change(function(){
					year = $("select#form_Annee option:selected").text();
					month = $("select#form_Mois option:selected").text();

					monthChart.drawChart(year, month);  
  				});

  				$(function(){
					$("#changePwd").click(function(){
						 var pwd = new Password();
						 pwd.displayForm();
					});
				});

	
	    </script>

	    <div id="chart_div" style="width: 900px; height: 500px;	"></div>

		<div id="month_chart_div" style="width: 900px; height: 500px;	"></div>

    </div>

    <div class="span1">
    	
    </div>
{% endblock %}
