<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/forthicimemedecin/css/base.css') }}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="{{ asset('bundles/forthicimemedecin/js/jquery.cookie.js') }}"></script>
        <script src="{{ asset('bundles/forthicimemedecin/js/medecin.js') }}"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

        <!-- GOOGLE FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>        
        <link href='http://fonts.googleapis.com/css?family=Mate' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>

        <script>
            $(function() {

                    // When the page is reloaded it check if it was hidden previously 
                    // then it hide the banner
                    if(BannerSingleton.getInstance().isHidden())
                    {
                        BannerSingleton.getInstance().setHidden();
                        $("html, body").animate({ scrollTop: 260 }, "slow");
                    }

                    $(".hide-banner").click(function(){
                       BannerSingleton.getInstance().toggle(this);
                    });


                    $(document).on("click", "a.dossier_link", function(e){
                        e.preventDefault();
                        window.location.href = $(this).attr("href");

                        // Remove last child if there are more than 12 li element
                        if ($("ul#recent_read>li").length >= 12)
                            $("ul#recent_read>li:last-child").remove();

                        var dossierHref = "input[name$=dossierHref]";
                        var dossierHrefVal = $(dossierHref).val();

                        var clientName = "input[name$=clientName]";
                        var clientNameVal= $(clientName).val();
                        
                        var dossierLibelle = "input[name$=dossierLibelle]";
                        var dossierLibelleVal= $(dossierLibelle).val();

                        d1 = new Date();
                        var d = $.datepicker.formatDate('dd/mm/yy', d1);
    
                        // Add new element in front
                        $("<li><a href='" + $(this).attr("href") + "'><div>" + clientNameVal + "</div><div>" + d + " " + d1.getHours() + ":" + d1.getMinutes() + "</div><div>" + dossierLibelleVal + "</div></a></li><span style='clear: both'> </span>").insertBefore("ul#recent_read>li:nth-child(3)");

                    });


                });          
        </script>
    </head>
    <body>
        
        <!--    SITE HEADER -->
        <div id="siteHeader" class="navbar navbar-fixed-top">

             <!-- MENU -->
            <div class="row-fluid">
                <div id="laboTitle">Laboratoire de biologie medicale</div>
                <hr />
                <div id="doctorTitle">Docteur Henri Marachlian <br /> <br />Tel : 04 91 66 13 43 </div>

            <!-- BANNER -->
            <!--
                <img src="{{ asset('bundles/forthicimemedecin/images/header2.png') }}" alt="Laboratoire de biologie medicale" />
            -->
                <img src="{{ asset('bundles/forthicimemedecin/images/banniere.jpg') }}" alt="Laboratoire de biologie medicale" />
            </div>

            <!-- BANNER FOOTER -->
            <div id="banner-footer" class="row-fluid">
                <div id="menu" class="span6">
                 {% block menu %}{% endblock %}
                </div>

                <div class="span5">
                <!-- top fixed bar -->
                {% block topbar %}{% endblock %}
                </div>

            </div>
             

                
        </div>

        <div id="container" class="container-fluid">
        
                <!-- CONTENT -->
                <div class="row-fluid">
                    <!-- Content  -->
                    <div id="document">
                      {% block body %}{% endblock %}
                    </div>
                </div>
                  
        </div>

        {% block javascripts %}{% endblock %}

    </body>
</html>
