<ul class="panel nav nav-list" style="font-size: 8pt;">
 	<li class="nav-header"><i class="icon-book icon-white"> </i> Nouvelles  analyses</li>
{% for dossier in latest_dossiers %}
	<li>
		<a href="{{ path('forthicime_dossier', {'id': dossier.id }) }}"> 
			<div>{{ dossier.nom|lower|capitalize  }} {{ dossier.prenom|lower|capitalize  }} </div>
			<div>{{ dossier.created|date('d-m-Y H:i')  }}</div>			
			<div>{{ dossier.libelle }}</div>	
		</a>
		<span style="clear: both"/>
	</li>						 
{% endfor %}
</ul>