

{% extends '::base.html.twig' %}

{%block topbar %}

	<div id="menuInfoBar">
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			Docteur {{ app.user.nom }}
		{% endif %}
	</div>

	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	 	<div  class="hide-banner span1" style="float: right;"><i class="icon-circle-arrow-up icon-white"></i></div>
	{% endif %}
{% endblock %}

{% block menu %}
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        <span><i class="icon-home icon-white"> </i> <a href="{{ path('_welcome') }}">Accueil</a></span>
                 
        <span><i class="icon-minus-sign icon-white"> </i> <a href="{{ path('logout') }}">Se déconnecter</a></span>
     
     {% endif %}
{% endblock %}


{% block body %}

	<div class="span4">

		<!-- DERNIER DOSSIER LU -->
		{% include 'ForthicimeMedecinBundle:Medecin:_read_dossier.html.twig' %}
		<br />
		
		<!-- DERNIER DOSSIER AJOUTÉ -->
		{% include 'ForthicimeMedecinBundle:Medecin:_recent_dossier.html.twig' %}
		<br />
		
		<!-- DERNIER CLIENT AJOUTÉ -->
		{% include 'ForthicimeMedecinBundle:Medecin:_recent_client.html.twig' %}
		<br />

	</div>

	<div class="content span7">
		<h3> <img src="{{ asset('bundles/forthicimemedecin/images/dossier-par-utilisateur-icone-7346-32.png') }}"/> Liste des patients</h3>
		<div class="clients">
			<table class="table table-striped">

			<tr>
				<th>Nom</th>				
				<th>Prenom</th>
				<th>&nbsp;</th>
			</tr>

		{% for client in clients %}
				 <tr>
				 	<td> {{ client.nom|lower|capitalize }}</td>
				 	<td> {{ client.prenom|lower|capitalize  }} </td> 
				 	<td>
				 		<a href="{{ path('forthicime_dossier_homepage', { 'client': client.id }) }}">
				 		 <img src="{{ asset('bundles/forthicimemedecin/images/dossier_folder.png') }}" alt="Dossiers" />
				 		 </a>

				 	</td>
				 		
				 </tr>
		{% endfor %}

			</table>
		</div>		

		<div class="paginator">

		{% include 'pagination.html.twig' with {
				 currentFilters: { myFilter: clients },
			 currentPage: current_page,
			 paginationPath: "/forthicime/medecin/",
			 lastPage: last_page,
			 showAlwaysFirstAndLast: true
		} only %}

		</div>
	</div>

	<div class="span1">
	

	</div>
{% endblock %}

{% block javascript %}
	
{% endblock %}

